/* RESET CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL CSS */

.text-yellow {
    color: #f7c61d;
}

.text-grey {
    color: #ccc;
}

.box-yellow {
    background-color: #f7c61d;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    background-color: #f7c61d;
}

header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 65px;
}

header img.header-logo {
    height: 29px;
}

header ul.header-nav {
    list-style-type: none;
    display: flex;
    gap: 64px;
}

header ul.header-nav li {
    text-transform: uppercase;
    font-size: 16px;
}

main {
    display: flex;
    gap: 28px;
}


main .content {
    margin-top: 42px;
}

article {
    padding-top: 20px;
    width: 870px;
    display: flex;
    padding-bottom: 80px;
}

article .post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

article .post-item {
    display: flex;
    gap: 26px;
}

article .post-item i {
    font-size: 12px;
}

article .post-item-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article .post-item-title {
    font-weight: 300;
    font-size: 30px;
}

article .post-item-created {
    font-size: 12px;
    color: #a9a9a9;
}

article .post-item-tag {
    display: inline;
}

article .post-item .view {
    font-size: 12px;
    display: flex;
    gap: 6px
}

article .more-articles {
    border: 1px solid #f7c61d;
    width: 170px;
    height: 42px;
    border-radius: 6%;
    text-align: center;
    line-height: 42px;
    margin-top: 30px;
}

main .hr {
    border-style: inset;
    border-width: 1px;
    background-color: #dcdcdc;
    opacity: 0.3;
}

main aside {
    margin-top: 80px;
}

main aside .search-box {
    position: relative;
    height: 30px;
}

main aside .search-input  {
    width: 238px;
    position: absolute;
    line-height: 25px;
    padding-left: 40px;
    border-radius: 14px;
    border: 1px solid #ccc;
    left: 0;
}

main aside .search-input:focus-visible {
    outline: none;
}

main aside .search-icon {
    position: absolute;
    line-height: 29px;
    left: 15px;
    z-index: 2;
}

table {
    margin-top: 40px;
    width: 238px;
    border-collapse: collapse;
}

table td, th {
    text-align: center;
    line-height: 31px;
    border: 1px solid #ccc;
}

table th {
    background-color: #e7e7e7;
    font-weight: normal;
}

table tr:nth-child(1) td{
    line-height: 40px;
}

table th[innerText="2"] {
    background-color: red;
}

footer {
    background-color: #f7c61d;
    min-height: 65px;
}

.popular-news {
    margin-top: 42px;
}

.popular-news .news-list {
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popular-news .news-item h4{
    font-weight: 450;
}

.popular-news .news-date {
    color: #a9a9a9;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .coppy-right {
    line-height: 65px;
}

.footer ul {
    list-style-type: none;
    font-weight: 500;
}

.footer .footer-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.footer .footer-icons {
    display: flex;
    gap: 12px;
}

.footer .footer-icon {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #f7c61d;
    background-color: #fff;
    border-radius: 50%;
}