/*==================*/
/*= RESET CSS ======*/
/*==================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}


/*==================*/
/*= CNN CSS  ======*/
/*==================*/

/*===== HEAD =====*/

.page-header {
	background: black;
	height: 85px;
	width: 100%;
	line-height: 85px;
}

.page-header .wrapper {
	width: 95%;
	margin: 0 auto;
	height: 100%;
}

.page-header .logo {
	float: left;
	margin-right: 20px;
}

.page-header .main-nav {
	float: left;
}

.main-nav ul li {
	float: left;
	margin-right: 20px;
}

.main-nav ul li a {
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.main-nav ul li a:hover {
	color: #f00;
}

.page-header .main-function {
	float: right;
}

.page-header .main-function i {
	margin-right: 20px;
	color: white;
}

.fix {
	clear: both;
}

/*===== MAIN =====*/

.page-main {
	width: 100%;
}

.page-main .wrapper {
	margin: 0 auto;
	width: 90%;
}

.page-main .title1:before {
	content: 'PODCAST:';
	color: red;
	font-weight: 600;
}

.page-main .title2:before {
	content: 'UKRAINE-RUSSIA:';
	color: red;
	font-weight: 600;
}

.page-main .title3:before {
	content: 'Analysis: ';
	font-weight: 600;
}

.page-main nav ul li {
	float: left;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.page-main nav ul li:hover {
	color: #f00;
}

.page-main .title4 {
	font-size: 80px;
	text-align: center;
	margin: 50px 0;
}

.page-main .title4 a {
	cursor: pointer;
	transition: all 0.3s ease;
}

.page-main .title4 a:hover {
	color: #f00;
}

.page-main .news {
	width: 100%;
}

.page-main .news div {
	float: left;
	margin-right: 10px;
	margin-left: 30px;
}

.page-main .news .sub1-news {
	width: 30%;
}

.page-main .news .sub1-news *{
	font-weight: 600;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.page-main .news .sub1-news *:hover {
	color: #f00;
}

.page-main .news .sub2-news {
	width: 30%;
}

.page-main .news .sub2-news *{
	font-weight: 600;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.page-main .news .sub2-news *:hover {
	color: #f00;
}

.page-main .news .sub3-news {
	width: 30%;
}

.page-main .news .sub3-news *{
	font-weight: 600;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.page-main .news .sub3-news *:hover {
	color: #f00;
}

/*===== FOOTER =====*/
.fix {
	clear: both;
}

.page-footer {
	width: 100%;
	height: 200px;
	background: black;
}

.page-footer .wrapper {
	height: 100%;
	margin: 0 auto;
	width: 90%;
}

.page-footer .wrapper div {
	float: left;
	margin-left: 20px;
	color: white;
}


