.block{
	width: 100px;
	height: 100px;

	text-align: center;
	line-height: 100px;
}
.bg-green{
	background: green;
}
/* Position :
	default:  static;
	relative:  positioned relative to itself(static);
	absolute:  positioned relative to it's parent;
			: parent required relative;
			:        else --> parent is html tag
*/
.bg-orange{
	background: orange;
	position: absolute;
	left: 70px;
	top: 40px;
}
.bg-blue{
	background: blue;
}

.container{
	width: 300px;
	height: 300px;
	background: #ececec;
	margin-top: 100px;
	border: 2px solid #2b2b2b;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.item{
	width: 140px;
	height: 140px;
	background: lightseagreen;
	position: absolute;
	left: 10px;
	top: 10px;
}