html {
	padding: 8px;
}
*{
	box-sizing: border-box;
}
.mb-30{
		margin-bottom: 30px;
}

.block1{
	width: 200px;
	height: 200px;
	background: yellow;

	border: 2px solid #2b2b2b;


}
.block2{
	width: 200px;
	height: 200px;
	background: green;

	color: white;
	border: 2px solid #2b2b2b;
	padding: 6px 6px;
	text-align: justify;
}
.block3{
	width: 60%;
	height: 60px;
	background: greenyellow;
}
.sub-item{
	width: 300px;
	height: 20px;
	background: darkblue;

	margin: 0 auto;
}
.block4{
	width: 300px;
	height: 300px;
	background: green;
	background: url(../images/lemon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}